* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
}

$font-dancingScript: "Dancing Script";
$font-josefinSans: "Josefin Sans";
$font-nunito: "Nunito";

$color-primary: #f44336;

body {
  font-family: $font-nunito;
}

@mixin btnStyle {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
}

@mixin btnStyleHover {
  border: 1px solid $color-primary;
  background-color: $color-primary;
  transition: 1s;
}

@mixin sectionStyle {
  text-align: center;
  padding-top: 100px;
}

@mixin cardWrapperStyle {
  display: flex;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

@mixin cardStyle {
  margin-bottom: 5%;
  max-width: 350px;
  margin-right: 16px;
  border-radius: 9px;
  transition: all 0.5s;
}

@mixin h1Style {
  font-size: 36px;
  color: black;
  font-weight: 600;
}

@mixin pStyle {
  color: rgb(94, 93, 93);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
