* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Nunito";
}

/* ===========================HEADER============================= */
.header {
  padding: 2rem 0;
  min-height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.7)), to(rgba(4, 9, 30, 0.7))), url(../images/banner.png);
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__logo img {
  width: 150px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul li {
  padding: 8px;
}

.header__menu ul li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.header__menu ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__menu ul li a:hover::after {
  width: 100%;
}

.header__text {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__text h1 {
  font-size: 63px;
  font-weight: bold;
  font-family: "Nunito";
  color: white;
}

.header__text p {
  padding: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.header__text .btn {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
  padding: 8px 16px;
}

.header__text .btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__nav .fas {
  display: none;
}

/* ===========================COURSES============================= */
.courses {
  text-align: center;
  padding-top: 100px;
}

.courses h1 {
  font-size: 36px;
  color: black;
  font-weight: 600;
}

.courses p {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.courses .courses-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses .courses-wrapper .course {
  margin-bottom: 5%;
  max-width: 350px;
  margin-right: 16px;
  border-radius: 9px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #e2e2e2;
  padding: 20px 12px;
}

.courses .courses-wrapper .course h3 {
  font-weight: bold;
  margin: 10px 0;
}

.courses .courses-wrapper .course:hover {
  -webkit-box-shadow: 0 0 18px 0 black;
          box-shadow: 0 0 18px 0 black;
}

/* ===========================CAMPUS============================= */
.campuses {
  text-align: center;
  padding-top: 100px;
}

.campuses h1 {
  font-size: 36px;
  color: black;
  font-weight: 600;
}

.campuses p {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.campuses .campus-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.campuses .campus {
  margin-bottom: 5%;
  max-width: 350px;
  margin-right: 16px;
  border-radius: 9px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.campuses .campus:hover .campus-layer {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.campuses .campus img {
  width: 100%;
}

.campuses .campus .campus-layer {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(89, 125, 243, 0.562);
  width: 100%;
  height: 100%;
}

.campuses .campus .campus-layer h3 {
  color: white;
  font-weight: 600;
  width: 100%;
  padding-top: 50%;
}

/* ===========================FACILITIES============================= */
.facilities {
  text-align: center;
  padding-top: 100px;
}

.facilities h1 {
  font-size: 36px;
  color: black;
  font-weight: 600;
}

.facilities p {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.facilities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.facilities-wrapper .facility {
  margin-bottom: 5%;
  max-width: 350px;
  margin-right: 16px;
  border-radius: 9px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: left;
}

.facilities-wrapper .facility img {
  width: 100%;
  border-radius: 9px;
}

.facilities-wrapper .facility h3 {
  padding-top: 1rem;
  padding-left: 8px;
  font-weight: bold;
}

.facilities-wrapper .facility p {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  padding: 0;
  padding-left: 12px;
}

/* ===========================TESTIMONIALS============================= */
.testimonials {
  text-align: center;
  padding-top: 100px;
}

.testimonials h1 {
  font-size: 36px;
  color: black;
  font-weight: 600;
}

.testimonials p {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.testimonials .testimonial-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
}

.testimonials .testimonial-wrapper .testimonial {
  margin-bottom: 5%;
  max-width: 350px;
  margin-right: 16px;
  border-radius: 9px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 480px;
  padding: 1rem 8px;
  background-color: rgba(111, 140, 235, 0.171);
  cursor: pointer;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .testimonial-wrapper .testimonial img {
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 20px;
}

.testimonials .testimonial-wrapper .testimonial h3 {
  font-weight: bold;
}

.testimonials .testimonial-wrapper .testimonial p {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  padding: 0;
}

.testimonials .testimonial-wrapper .testimonial .testimonial-text {
  padding-right: 1rem;
}

.testimonials .testimonial-wrapper .testimonial .testimonial-text i {
  color: #ffd000;
  font-size: 16px;
}

/* ===========================CALL FOR ACTION============================= */
.cta {
  text-align: center;
  padding-top: 100px;
}

.cta .cta__container {
  padding: 100px 0;
  max-width: 1100px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/banner2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner2.jpg);
  background-position: center;
  background-size: cover;
}

.cta h1 {
  font-size: 36px;
  color: black;
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
}

.cta .btn {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
  padding: 8px 16px;
}

.cta .btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
  -webkit-transition: 1s;
  transition: 1s;
}

/* ===========================FOOTER============================= */
footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 2rem;
}

footer h1 {
  font-size: 36px;
  color: black;
  font-weight: 600;
}

footer p {
  color: #5e5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
  color: #f44336;
}

footer .footer__social i {
  cursor: pointer;
}

footer .footer__social i + i {
  margin-left: 1rem;
}

footer .copyRight {
  padding-top: 14px;
}

footer .copyRight i,
footer .copyRight small {
  color: #f44336;
}

/* ===========================MEDIA QUERIES(TABLET and under)============================= */
@media (max-width: 1024px) {
  .header {
    min-height: 90vh;
  }
  .header .header__text {
    padding-top: 5rem;
  }
}

/* ===================================MEDIA QUERIES(MOBILE)============================== */
@media (max-width: 600px) {
  .header {
    min-height: 100vh;
  }
  .header .header__text {
    padding-top: 0;
  }
  .header__text h1 {
    font-size: 24px;
  }
  .header__menu {
    background-color: #f44336;
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 5;
    height: 100vh;
    width: 200px;
  }
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px;
  }
  .header__nav .fas {
    display: block;
    font-size: 22px;
    margin: 10px;
    color: white;
  }
  .courses h1 {
    font-size: 24px;
  }
  .courses h3 {
    font-size: 18px;
  }
  .courses .courses-wrapper .course {
    margin-right: 0;
  }
  .campuses h1 {
    font-size: 24px;
  }
  .campuses h3 {
    font-size: 18px;
  }
  .campuses .campus {
    margin-right: 0;
  }
  .facilities h1 {
    font-size: 24px;
  }
  .facilities h3 {
    font-size: 18px;
  }
  .facilities .facilities-wrapper .facility {
    margin-right: 0;
  }
  .testimonials h1 {
    font-size: 24px;
  }
  .testimonials h3 {
    font-size: 18px;
  }
  .testimonials .testimonial-wrapper .testimonial {
    margin-right: 0;
  }
  .cta .cta__container {
    border-radius: unset;
    padding: 60px 16px;
  }
  .cta .cta__container h1 {
    font-size: 24px;
    line-height: 1.3;
  }
}
/*# sourceMappingURL=style.css.map */